footer{
    display: flex;
    justify-content: space-between;
    color: #B6B6B6;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    a{
        text-decoration: none;
        color: #2B2B2B;
        padding: 2px;
    }
}
