
.presentation-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    .active {
        box-shadow: -3px 6px 20px 10px rgba(168, 164, 164, 0.25);
        border-radius: 20px;
        text-align: center;
    }
}
.presentation-cards{
    .card{
        width: 200px;
        padding: 20px;
        padding-bottom: 80px;
        margin-bottom: 10px;
        text-align: center;
    

        h2{
            font-size: 20px;
            font-family: 'Questrial', sans-serif;
            font-weight: 100;
            padding-bottom: 5px;
            border-bottom: 1px solid #B7B5B5;
        }

        p {
            margin-top: -2px;
            color: #9F9F9F;
            font-size: 15px;

        }

        button {
            margin-top: 10px;
            background-color: #292E59;
            color: #fff;
            border: none;
            padding: 1em 30px;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
        }
    }
       
    }

    /* Fin cartes de présentation */

.about-skills .card-about{
    box-shadow: -5px 4px 20px 10px rgba(218, 218, 218, 0.25);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
    
    h2{
        max-width: 150px;
        font-size: 25px;
        font-weight: normal;
        padding-bottom: 5px;
        border-bottom: 1px solid #DFDFDF;   
    }

    p{
        font-size: 15px;
        color: #8D8686;
    }
}

.about-skills .skills{
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card-skills{
        font-family: 'Roboto', sans-serif;
        color: #fff;
        margin-bottom: 10px;
        text-align: center;
    
        .card-skills-header{
 
            padding: 14px 44px;
            margin-top: 20px;
            margin-bottom: 20px;
              
          }

          .card-skills-header img{
            height: 50px;
        }
    }
}

.realisations .realisations-header{
    font-family: 'Roboto', sans-serif;
    text-align: center;

    h1{
        font-size: 48px;
    }
    
    h4{
        margin-top: -30px;
        font-size: 24px;
    }
}

.realisations .realisations-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .realisations-card{
        padding: 60px 100px;
        border-radius: 30px;
        box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.25);
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        margin-bottom: 20px;
        transition: transform 0.5s;
    }

    .become{
        background-color: #292E59;
        color: #fff;
    }


    .realisations-card:hover{
        transform: scale(1.05);
    }
}

@media screen and (max-width: 950px){
    body{
        margin: 32px 20px;
    }
    header .right{
        display:none;
    }
    header .left h1{
        font-size: 50px;
    }
}

